@model IEnumerable<Website_MovieOnline2.Models.ModelPhim2.TopYeuThich>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Lauyout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Top 20 bộ phim có lượt yêu thích nhiều nhất</h2>
            <br />
            
            <table class="table">
                <tr>
                    <th>
                        STT
                    </th>
                    <th>
                        Lượt thích
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Tên Phim Tiếng Việt
                    </th>
                    <th>
                        Ảnh
                    </th>
                    <th></th>
                </tr>
                @{int count = 1; }
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @count  @{ count = count + 1;}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Luot_thich)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenPhimTiengViet)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnhMoi)
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                    
                    }

            </table>
        </div>
    </div>
</div>